name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # -----------------------------
    # Checkout Repo
    # -----------------------------
    - name: Checkout code
      uses: actions/checkout@v3

    # -----------------------------
    # Python Setup
    # -----------------------------
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    # -----------------------------
    # Install Requirements
    # -----------------------------
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # -----------------------------
    # Docker Hub Login
    # -----------------------------
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # -----------------------------
    # Build Docker Image
    # -----------------------------
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fraud-app:latest .

    # -----------------------------
    # Push Docker Image
    # -----------------------------
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/fraud-app:latest
